.footer{
    background: #E7ECFF;



    &_top{
        padding: 67px 0 47px;
        border-bottom: solid 1px #CDD1D4 ;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;

        @media screen and (max-width:1150px) {
            justify-content: space-around;
        }
        @media screen and (max-width:790px) {
            align-items: center;
            flex-direction: column;
            gap: 25px;
        }

        &_btn{
            width: 109px;
            height: 26px;
            background: #111B47;
            border-radius: 2px;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #ffffff
            ;
        }
        &_span{
            color: #939EA4;

            @media screen and (max-width:790px) {
                order: 1;
            }
        }
    }

    &_bottom{
        padding: 24px 0 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:790px) {
            flex-direction: column;
            gap: 15px;
        }
        
        &_list{
            display: flex;
            gap: 60px;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            &_link{
                color: #929ECC
            }

            &_link:hover{
                color: #37447E;
            }
        }

        &_social_list{
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

    }
}