.header{
    background-image:url(../images/designer.png) ;
    max-width: 100%;
    width: 1490px;
    height: 1161px;
    // background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;

    &_content{
        width: 539px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 179px;

        &_title{
            font-size: 50px;
            line-height: 66px;
            font-weight: 500;
            color: #091133;
            padding-bottom: 20px;
        }

        &_description{
            font-size: 18px;
            line-height: 30px;
            color: #505F98;
            padding-bottom: 20px;

            &_span{
                font-size: 18px;
                line-height: 30px;
                color: #505F98;
                padding-bottom: 69px;
            }
        }
    }
    &_btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &_left{
            width: 189px;
            height: 36px;
            background: #111B47;
            color: #FFFFFF;
            border-radius: 2px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            margin-right: 30px;
            // top: calc(50% - 26px/2);
        }

        &_right{
            width: 189px;
            height: 36px;
            border-radius: 2px;
            border: 2px solid #091133;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #091133;
        }
    }
}
.nav{
    padding-top: 49px;
    padding-bottom: 261px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &_group_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

    }

    &_btn{
        width: 160px;
        height: 26px;
        background: #111B47;
        border-radius: 2px;
        color: #FFFFFF;
    }
}
